* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/MuseoSansCyrl-100.woff);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/MuseoSansCyrl-300.woff);
  font-style: normal;
  font-weight: 300;  
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/MuseoSansCyrl-500.woff);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/MuseoSansCyrl-700.woff);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/MuseoSansCyrl-900.woff);
  font-style: normal;
  font-weight: 900;
}
body {
  font-family: 'MuseoSans';
}
.container {
  max-width: 1174px;
  width: 80%;
  margin: 0 auto;
}
.first-screen {
  height: 100vh;
  background: linear-gradient(90deg, rgba(233,168,45,1) 34%, rgba(242,196,16,1) 100%);
}
.first-screen-content {
  padding-top: 68px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: white;
  font-size: 24px;
  line-height: 14px;
  font-weight: 700;
}
.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  margin: 0px 10px;
  transition: all 0.3s ease-in-out;
}
.header-nav {
  margin-left: 100px;
}
.header-nav a:hover {
  background-color: black;
  padding: 5px 15px;
  border-radius: 15px;

}
.search-and-user {
  display: flex;
  align-items: center;
}
.header-search {
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  padding-right: 25px;
}
.fa-user {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
